{% extends 'base.html.twig' %}

{% block body %}
    {% for item in books %}
<div class="panel panel-primary">
    <div class="panel-heading"></div>
        <div class="panel-body">
        <!--  <div class="container-fluid"> -->
            <div class="row">
                <div class="col-md-4" >
                    <img src="{{ item.coverUrl }}" height="200" width="70%">
                </div>
                <div class="col-md-8">
                    <h3>{{ item.title }}</h3>
                    <h5>{{ item.author }}</h5>
                    {{ "<br>" }}
                    <p>
                        <b>Description: </b>{{ item.description }}
                    </p>
                    {{ "<br>" }}
                    <b>Language: </b>{{ item.language }}
                    {{ "<br>" }}
                    <b>Pages: </b>{{ item.pageNo }}<br>
                    <b>ISBN: </b>{{ item.isbn }} <br>
                    <b>Available books: </b>{{ free }}

                </div>
            </div>
        </div>
        <div class="panel-footer clearfix">
            <div class="pull-right">
                {% if free == 0 %}
                    <a href="/order/{{ item.id }}" class="btn btn-danger">RESERVE</a>
                {% else %}
                    <a href="/order/{{ item.id }}" class="btn btn-primary">TAKE A BOOK</a>
                {% endif %}
                <button onclick="goBack()" class="btn btn-default">Go Back</button>
            </div>
        </div>
    </div>
</div>

    {% endfor %}
{% endblock %}
